---
import ky from "ky";

// Получаем id автомобиля из URL
const { id } = Astro.params;

let cars = null;
let selectedCar = null;
let error = null;

const formatDate = (date) => {
	const day = String(date.getDate()).padStart(2, "0");
	const month = String(date.getMonth() + 1).padStart(2, "0"); // Месяцы начинаются с 0
	const year = date.getFullYear();
	return `${day}.${month}.${year}`;
};

// Получаем текущую дату + 3 дня для from-date и + 8 дней для to-date
const fromDate = new Date();
fromDate.setDate(fromDate.getDate() + 3);
const toDate = new Date(fromDate);
toDate.setDate(toDate.getDate() + 5);

export async function getStaticPaths() {
	try {
		// Получаем данные автомобилей
		const response = await ky
			.get(
				`https://new.mycarrental.ru/api/v2/search_cars?from-id=10&to-id=10&to-date=${formatDate(toDate)}&from-date=${formatDate(fromDate)}&from-time=12%3A00&to-time=12%3A00&promocode=null&page=1&per_page=8`,
			)
			.json();
		const cars = response?.vehicles || [];

		// Формируем пути для всех автомобилей
		return cars.map((car) => ({
			params: { id: car.id.toString() },
		}));
	} catch (err) {
		console.error("Error fetching cars:", err);
		return [];
	}
}

try {
	// Выполняем запрос к API для получения списка автомобилей
	const response = await ky
		.get(
			`https://new.mycarrental.ru/api/v2/search_cars?from-id=10&to-id=10&to-date=${formatDate(toDate)}&from-date=${formatDate(fromDate)}&from-time=12%3A00&to-time=12%3A00&promocode=null&page=1&per_page=8`,
		)
		.json();

	// Ожидаем массив автомобилей
	cars = response?.vehicles || [];

	// Находим автомобиль с нужным id
	selectedCar = cars.find((car) => car.id == id);
} catch (err) {
	error = err.message;
}
---

<div class="car-order-page">
	{
		error ? (
			<p>Error: {error}</p>
		) : selectedCar ? (
			<div>
				<h1>Order {selectedCar.model}</h1>
				<img src={selectedCar.images[0].image} alt={selectedCar.model} />
				<p>Transmission: {selectedCar.transmission}</p>
				<p>Seats: {selectedCar.seats}</p>
				<p>
					Engine: {selectedCar.engine_capacity} L / {selectedCar.engine_hp} HP
				</p>
				<p>Deposit: {selectedCar.deposit}</p>
				<p>Rent Period: {selectedCar.rent_period_days} days</p>
				<p>Price: {selectedCar.rate_subtotal}</p>
			</div>
		) : (
			<p>Car not found</p>
		)
	}
</div>

<style>
	.car-order-page {
		padding: 20px;
	}
	.car-order-page img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 8px;
	}
</style>
