---
import CarCard from './CarCard.astro';
import ky from 'ky';

// Функция для получения даты в формате "DD.MM.YYYY"
const formatDate = (date) => {
  const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0'); // Месяцы начинаются с 0
  const year = date.getFullYear();
  return `${day}.${month}.${year}`;
};

// Получаем текущую дату + 3 дня для from-date и + 8 дней для to-date
const fromDate = new Date();
fromDate.setDate(fromDate.getDate() + 3);
const toDate = new Date(fromDate);
toDate.setDate(toDate.getDate() + 5);

let cars = null;
let error = null;

try {
  // Выполняем запрос к API
  const response = await ky.get(`https://new.mycarrental.ru/api/v2/search_cars?from-id=10&to-id=10&to-date=${formatDate(toDate)}&from-date=${formatDate(fromDate)}&from-time=12%3A00&to-time=12%3A00&promocode=null&page=1&per_page=8`).json();
  
  // Ожидаем массив автомобилей в поле vehicles
  cars = response?.vehicles || [];
} catch (err) {
  error = err.message;
}
---
<div>
	<p class="text-center text-2xl font-medium pt-2">Найти автомобиль</p>
  <h1 class="text-center text-4xl font-bold py-2">АРЕНДА АВТО В КРЫМУ</h1>
	<p class="text-center text-3xl font-medium pb-3">Специальные предложения</p>

  <!-- Если ошибка -->
  {error ? (
    <div>Error: {error}</div>
  ) : (
    <!-- Вывод карточек автомобилей -->
		<div class="siema-container relative w-full h-auto md:overflow-hidden">
    	<div class="cars-grid siema-main">
				{cars.length > 0 ? (
					cars.map(car => (
						<CarCard car={car} />
					))
				) : (
					<p>Машин больше нет</p>
				)}
			</div>
			<!-- Кнопки навигации -->
	<button
		class="prevm absolute left-4 top-1/2 transform -translate-y-1/2 bg-red-600 text-white w-10 h-10 rounded-full flex items-center justify-center"
	>
		<!-- Левая стрелочка -->
		<span
			class="inline-block transform rotate-[315deg] border-t-2 border-l-2 border-white w-3 h-3"
		></span>
	</button>

	<button
		class="nextm absolute right-4 top-1/2 transform -translate-y-1/2 bg-red-600 text-white w-10 h-10 rounded-full flex items-center justify-center"
	>
		<!-- Правая стрелочка -->
		<span
			class="inline-block transform rotate-[135deg] border-t-2 border-l-2 border-white w-3 h-3"
		></span>
	</button>
    </div>
  )}
</div>

<style>
  .cars-grid {

  }
</style>

<script>
	import Siema from "siema";

	document.addEventListener("DOMContentLoaded", () => {
  const mySiema = new Siema({
    selector: '.siema-main',
    duration: 500,
    easing: "ease-out",
    perPage: {
			640: 1,
      768: 2,
      1024: 3,
      1200: 4,
      1600: 5
    },
    startIndex: 0,
    draggable: true,
    multipleDrag: true,
    loop: true
  });

		// Добавить навигацию
		document
			.querySelector(".prevm")
			.addEventListener("click", () => mySiema.prev());
		document
			.querySelector(".nextm")
			.addEventListener("click", () => mySiema.next());
	});
</script>
